extends ./layouts/auth/index

include ./layouts/checkbox
include ./layouts/field
include ./layouts/radio

block content
  .auth.auth_small
    .auth__header.auth__header_logo-to-up
      .auth__title.auth__title_with-button
        |Восстановление пароля
        button: img(src="./img/arrow-left.svg")
      .auth__logo
        img(src="./files/logos/mpay.png", srcset="./files/logos/mpay.png 1x, ./files/logos/mpay@2x.png 2x, ./files/logos/mpay@3x.png 3x,", alt="Mpay")
      .auth__picture.auth__picture_envelop
        .auth__stripe
          span
          span
          span
        img(src="./img/letter-in-envelope.svg", alt="")
        .auth__stripe
          span
          span
          span

    .auth__body
      .auth__description Для восстановления пароля перейдите#[br]по ссылке в письме, которое мы вам#[br]отправили на:
      .auth__description.auth__description_email konstantin@bakehouse.moscow

    .auth__suggestion
      | Нет письма? Напишите на
      a(href="mailto:help@mpay.ru") help@mpay.ru