extends ./layouts/auth/index

include ./layouts/field

block content
  .auth.auth_big
    .auth__header.auth__header_flex
      .auth__title Подтверждение регистрации
      .auth__logo
        img(src="./files/logos/mpay.png", srcset="./files/logos/mpay.png 1x, ./files/logos/mpay@2x.png 2x, ./files/logos/mpay@3x.png 3x,", alt="Mpay")
      .auth__picture
        img(src="./img/handshake.svg", alt="handshake")
    .auth__body
      .auth__description Мы рады, что вы выбрали MPay!
      .data
        .data__title ВАШ ЛОГИН:
        .data__text igor@mpay.ru
      .data
        .data__title ВАШ ПАРОЛЬ:
        .data__text 3xWk916mD
      
      .auth__description Для завершения регистрации нажмите на кнопку:
      button.btn._green.btn_font-normal Подтвердить и войти

      .auth__title.auth__title_left Есть вопросы?
      .auth__description.auth__description_mt-16 Напишите нам на #[a(href="mailto:info@mpay.ru") info@mpay.ru] или позвоните по телефону#[br]+7 (495) 374-61-68.
      .auth__description.auth__description_mt-16 Мы работаем с понедельника по пятницу с 10 до 19 часов.
      .auth__description.auth__description_clarification Письмо отправлено роботом. Отвечать на него не нужно. Если вы получили это письмо по ошибке просто игнорируйте его.
