extends ./layouts/auth/index

include ./layouts/checkbox
include ./layouts/field

block content
  .auth
    .auth__header.auth__header_logo-to-up
      .auth__logo
        img(src="./files/logos/mpay.png", srcset="./files/logos/mpay.png 1x, ./files/logos/mpay@2x.png 2x, ./files/logos/mpay@3x.png 3x,", alt="Mpay")
      .auth__picture.auth__picture_full-width
        img(src="./files/race.png", alt="race")
    .auth__body
      .auth__description Мы знаем как ценно ваше время, поэтому для регистрации нужно ввести только адрес электронной почты.
      .auth__button
        .button
          button.button__item.active()
            | Для юр. лиц
            .button__icon
              img(src="./img/businessman.svg")
          button.button__item()
            | Без юр. лица
            .button__icon
              img(src="./img/approved-wallet.svg")
      .auth__field
        +field('email', 'АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ', 'my@company.ru', './img/email.svg', null, false, 'Введите ваш адрес электронной почты')
      .auth__field
        +field('inn', 'ИНН', '0000000000', './img/organization.svg', null, false, 'Введите ИНН вашей организации')
      .auth__field.auth__field_checkbox
        +checkbox('Я принимаю условия')
        |&nbsp;
        a(href="#") публичной оферты.
    .auth__footer.auth__footer_right
      button.button__item.button__item_green.button__item_footer() Подключить
    .auth__suggestion
      | Уже партнер MPay?
      a(href="#") Войти