doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="./css/personal.css", rel="stylesheet", type="text/css")
    style.
      ul.column {
        padding: 30px 0 20px 30px;
        text-align: left;
        display: inline-block;
        width: 20%;
        vertical-align: top;
      }

      ul.column._short {
        width: 150px;
      }

      ul.inner {
        display:block;
        padding:0;
        margin:10px 0 10px 20px;
      }

      li + li {
        margin-top: 5px;
      }
  body

    ul.column
      li: a(href='./uc_1.html', target='_blank') Payment form
      li: a(href='./uc_2.html', target='_blank') Pending payment
      li: a(href='./uc_3.html', target='_blank') Successful payment
      li: a(href='./uc_4.html', target='_blank') Failed payment
      li: a(href='./uc_5.a.html', target='_blank') Form error