extends layouts/payment-form/index

include ./layouts/header
include ./layouts/footer
include ./layouts/outcard

block content
  .card
    +header-v05('error')
    .card__body
      .screen-5
        .card__text-block._error
          .card__header Ваш банк отказал в&nbsp;проведении платежа
          .card__text._error Пожалуйста убедитесь, что на вашей карте достаточно средств и повторите оплату.
    +footer-v06
    +outcard-v01