extends ./layouts/profile/profile-api

include ./layouts/switch
include ./layouts/field

block api
  .profile-api
    .profile-api__container
      .profile-api__column
        .profile-api__title API Key
        .profile-api__row
          +field('', 'API Key', '', './img/profile/key.svg', 'a7zlUF85afRvZrgoOBJJpOmFLcBz0phb')
          .field__resend
      .profile-api__column
        .profile-api__title Сертификат
          +switch
        .profile-api__notice Для усиления безопасности доступа к API Mpay включите авторизацию с помощью SSL сертификата.