extends ./layouts/profile/index

include ./layouts/profile/project-info
include ./layouts/field
include ./layouts/switch

block content
  .panel
    +partner-info
    .panel__tabs.tabs
      .tabs__item Профиль
      .tabs__item Безопасность
      .tabs__item Настройка API
      .tabs__item Уведомления
      .tabs__item Активность
      .tabs__item._current Идентификация
    .panel__body
      .profile-api.identity
        .profile-api__title Паспортные данные
          +switch('', true)
          .profile-api__status._success Успешно проверен
        .profile-api__container.identity__id-info
          .profile-api__column
            .profile-api__row
              +field-date(label='Дата рождения', placeholder='01.01.2018', icon='./img/profile/birthday.svg', value='01.08.1987', disabled=true)
            .profile-api__row
              +field('', 'Инн (10/10)', '0000000000', './img/profile/colonnade.svg', '0123456789', true)
            .profile-api__row
              .file-upload
                .file-upload__label Скан паспорта
                .file-upload__container
                  ul.file-upload__list
                    li.file-upload__row Первая страница паспорта.png
                    li.file-upload__row Прописка.png

          .profile-api__column
            .profile-api__row
              +field('', 'Серия и номер паспорта', '0000 000000', './img/profile/documents.svg', '2345 987457', true)
            .profile-api__row
              +field-date(label='Дата выдачи паспорта', placeholder='01.01.2018', value='01.01.2018', disabled=true)
            .profile-api__row
              +field-textarea(label='Кем выдан паспорта', placeholder='Отделение по району', icon='./img/profile/address.svg', class='_with-icon', value='Отделение по району по району Бирюлево Восточное ОУФМС России по г Москве в ЮАО', disabled=true)

        .profile-api__container.identity__webmoney
          .profile-api__column
            .profile-api__title WebMoney ID
            .profile-api__notice Так же вы можете подтвердить личность, добавив наш кошелек Webmoney в список доверенных для вашего WMID
            .profile-api__row
              +field('', 'WMID', '1234567890', './img/profile/wmid.svg')
            button.btn._green Изменить

  script.
    document.querySelector('.nav__item.active').classList.remove('active');
    document.querySelector('.profile-header__controls .control__item:nth-child(3)').classList.add('_active');