extends layouts/payment-form/index

include ./layouts/outcard
include ./layouts/footer

block content
  .card
    .card__body
      .payment-info_simple-pay
    +footer-v03('./img/payways/webmoney.png')
    +outcard