extends layouts/payment-form/index

include ./layouts/outcard
include ./layouts/footer

block content
  .card
    .card__body
      .payment-info__waiting
        .lds-ripple__wrap
          include ./layouts/ripple
          p.lds-ripple__text Ожидание платежа…
    +outcard