extends layouts/payment-form/index

include ./layouts/header
include ./layouts/chosen-payway
include ./layouts/payment-info-row
include ./layouts/outcard
include ./layouts/footer

block content
  .card
    +header-v01('./files/logos/park-uno.png', 'parkuno.ru', 'Счет №154')
    .card__body
      +chosen-payway('Apple Pay', './img/payways/applepay.png')
      .payment-info
        +payment-info-row('Включена комиссия 10 ₽.', '_alert')
        +payment-info-row('Безопасность платежей PCI DSS.', '_protected')
    +footer-v01('Оплатить', '8 040', '00', '₽')
    +outcard