extends layouts/payment-form/index

include ./layouts/outcard
include ./layouts/footer

block content
  .card
    .card__body
      .payment-info_waiting
        .lds-ripple__wrap
          include ./layouts/ripple
          | Ожидание платежа…
    +outcard