extends layouts/payment-form/index

include ./layouts/outcard
include ./layouts/footer

block content
  .card
    .card__body
      .payment-info__simple-pay
        .payment-info__simple-pay_status
          img.payment-info__success(src='./img/simple-payment-success.svg')
          p.payment-info__text-status Платеж успешен
    +footer-v02('Вернуться в магазин')
    +outcard