extends layouts/payment-form/index

include ./layouts/header
include ./layouts/outcard
include ./layouts/payways-slide
include ./layouts/payment-info-row
include ./layouts/field
include ./layouts/footer

block content
  .card
    +header-v01('', 'traffic.ru', 'Счет №14566645')
    .card__body
      +payways-slide(['./img/payways/webmoney.png', './img/payways/card.png', './img/payways/phone.png', './img/payways/applepay.png', './img/payways/qiwi.png'])
      form.card-form
        .card-form__row
          +field-card('Номер карты', '5100 6900 2352 5121', '_mastercard')
        .card-form__row
          +field-validity
          +field-cvv('card-form__cvc', '000', true)
      .payment-info
        +payment-info-row('Безопасность платежей PCI DSS.', '_protected')
        +payment-info-row-accept
    +footer-v01('Оплатить', '4 999', '00', '₽', 'Платеж включает все сборы')
    +outcard