extends layouts/payment-form/index

include ./layouts/header
include ./layouts/chosen-payway
include ./layouts/field
include ./layouts/payment-info-row
include ./layouts/outcard
include ./layouts/footer

block content
  .card
    +header-v01('./files/logos/PST.png', 'pst.parkside.agency', 'Счет №27')
    .card__body
      +chosen-payway('Mastercard', './img/payways/mastercard.png')
      form.card-form
        .card-form__row
          +field-card('Номер карты')
        .card-form__row
          +field-validity
          +field-cvv('card-form__cvc', '000')
      .payment-info
        +payment-info-row('Безопасность платежей PCI DSS.', '_protected')
        +payment-info-row-accept
    +footer-v01('Оплатить', '1 420', '47', '₽', 'Платеж включает все сборы')
    +outcard