extends layouts/payment-form/index

include ./layouts/header
include ./layouts/chosen-payway
include ./layouts/field
include ./layouts/payment-info-row
include ./layouts/outcard
include ./layouts/footer

block content
  .card
    +header-v01('./files/logos/park-uno.png', 'parkuno.ru', 'Счет №154')
    .card__body
      +chosen-payway('Альфа-Банк', './img/payways/alfabank.png')
      form.card-form
        +field-alfa('1234567')
      .payment-info
        +payment-info-row('Включена комиссия 10 ₽.', '_alert')
        .payment-info__row
          .payment-info__icon._wallet
          .payment-info__text
            span Общая сумма платежей в день не должна превышать &#8203;
              span.solid 20 000 ₽.
    +footer-v01('Оплатить', '9 050', '00', '₽')
    +outcard