@media screen and (max-width: 430px) {
  .card-form {
    &__alpha-login,
    &__phone {
      width: auto;
    }
    &__validity {
      width: 151px;
      margin-right: 16px;
      .field__body:before {
        left: 78px;
      }
      .field__input {
        letter-spacing: -.5px;
      }
    }
    &__number {
      width: 318px;
    }
    &__cvc {
      width: 151px;
    }
    &__cardholder {
      width: 318px;
    }
  }
}

@media screen and (max-width: 330px) {
  .card-form {
    &__row {
      flex-direction: column;
      & + & {
        margin-top: 8px;
      }
    }
    &__cvc {
      width: 268px;
      margin-top: 8px;
    }
    &__number {
      width: 268px;
    }
    &__cardholder {
      max-width: 268px;
    }
    &__validity {
      width: 268px;
    }
  }
}