@media screen and (max-width: 430px) {
  .card-form {
    &__alpha-login,
    &__phone {
      width: auto;
    }
    &__validity {
      margin-right: 12px;
      .field__body:before {
        left: 78px;
      }
      .field__input {
        letter-spacing: -.5px;
      }
    }
  }
}