@media screen and (max-width: 430px) {
  .card {
    min-width: 280px;
    display: block;
    position: relative;
    overflow: visible;
    width: auto;
    margin: 0 16px;
    &._chat {
      min-width: 280px;
    }
  }
}