@media screen and (max-width: 430px) {
  .footer {
    display: flex;
    &__submit {
      width: 100%;
      text-align: center;
      justify-content: center;
    }
    &__info {
      position: static;
      line-height: 11px;
      margin: 6px 0 -1px;
      font-size: 10px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
    }
    &__link {
      display: table;
      margin: 19px auto 21px;
      text-transform: none;
      font-size: 14px;
      font-weight: normal;
    }
  }
}