@media screen and (max-width: 430px) {
  .header {
    &__logo {
      display: none;
    }
    &._error {
      padding: 41px 21px 32px 42px;
    }
    &._success {
      padding: 42px 44px 32px;
    }
    &__icon {
      &._error {
        margin: -2px 35px 0 1px;
      }
    }
  }
}

@media screen and (max-width: 330px) {
  .header {
    padding: 32px 16px 24px;
    &__price {
      font-size: 36px;
    }
    &__name {
      font-size: 18px;
    }
    &__text {
      ._success & {
        font-size: 24px;
        line-height: 26px;
        margin: -3px 0 0 0;
      }
      ._error & {
        font-size: 24px;
        line-height: 26px;
        margin-top: -3px;
      }
    }
    &._success {
      padding: 35px 26px 32px;
    }
    &._error {
      padding: 35px 15px 32px 19px;
    }
    &__icon {
      margin-right: 16px;
      &._error {
        margin: -3px 22px 0 6px;
      }
    }
  }
}