doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900&amp;subset=cyrillic-ext" rel="stylesheet")
    link(href="./css/payment-form.css", rel="stylesheet", type="text/css")
    link(href="./fonts/PT ROOT.css", rel="stylesheet", type="text/css")
    link(href="./fonts/Glyphter.css", rel="stylesheet", type="text/css")
  body
    .wrap
      block content
    script(src='./js/polyfill.js')
    //script(src='./js/libs/perfect-scrollbar.min.js')
    //script(src='./js/libs/tiny-slider.min.js')
    script(src='./js/libs/text-mask.min.js')
    script(src='./js/libs/vanilla-js-select.min.js')
    script(src='./js/libs/сyrillicToTranslit.js')
    script(src='./js/transliteration.js')
    script(src='./js/validation.js')
    script(src='./js/profile.js')
    script(src='./js/main.js')