nav.nav
  ul.nav__menu
    li.nav__item.active
      .nav__icon
        img(src='./img/home.svg')
      a(href="#") Рабочий стол
    li.nav__item
      .nav__icon
        img(src='./img/statistic.svg')
      a(href="#") Статистика
    li.nav__item
      .nav__icon
        img(src='./img/projects.svg')
      a(href="#") Проекты
    li.nav__item
      .nav__icon
        img(src='./img/documents.svg')
      a(href="#") Документация
    li.nav__item
      .nav__icon
        img(src='./img/max-payment.svg')
      a(href="#") Выплаты
    li.nav__item
      .nav__icon
        img(src='./img/users.svg')
      a(href="#") Сотрудники
  .nav__block
    .nav__title.active: a(href="tel:+74953746168") +7 (495) 374-61-68
    .nav__description пн-пт с 10 до 19

    .nav__title.nav__title_link.active: a(href="mailto:info@mpay.ru") info@mpay.ru
    .nav__description круглосуточно

  .nav__block
    .nav__title.nav__title_inline
      |© MPay 2015 - 2018
      .lang
        .lang__item RU
        .lang__item.active EN