mixin create-project-3
  .create-project.popup(data-popup='create-project-step-3')
    .popup__close(data-event="popup-close", data-popup='create-project-step-3')
    .create-project__success
      .popup__title.create-project__success-title Ваш проект успешно принят в работу!
      .create-project__success-description Как только модерация завершится мы свяжемся с вами и вы сможете принимать платежи.
      button.btn._green.create-project__success-btn(data-event="popup-close", data-popup='create-project-step-3') Хорошо!