mixin notice-context
  .context-menu._notice.notice-mini
    .notice-mini__item
      .notice-mini__date-time 11 июля 2018, 17:35
      .notice-mini__text Сервис tralolo.com успешно прошел модерацию
    .notice-mini__item
      .notice-mini__date-time 11 июля 2018, 17:35
      .notice-mini__text Наблюдаются проблемы с прохождением платежей по оператору Мегафон
    .notice-mini__item
      .notice-mini__date-time 11 июля 2018, 17:35
      .notice-mini__text Для сервиса dating.ru подключен оператор Билайн
    a.btn._green.notice-mini__btn(href='#') Перейти в архив