mixin payment-preview
  .popup._grey.payment-preview(data-popup='payment-preview')
    .popup__close(data-event="popup-close", data-popup='payment-preview')
    iframe.payment-preview__frame(src='./payment-logo-preview.html', width='590', height='650')