mixin statistic-rows()
  tr
    td.table__checkbox: +checkbox
    td.table__date 31.07.18#[br]12:56:11
    td: .crop 64527356452735645273564527352735
    td dating.ru
    td
      .account
        .account__icon
          img(src="./img/megafon-icon.svg", alt="Мегафон")
        .account__number 79263347618
    td: .status.status_success Успешно
    td
      .amount
        .amount__integer 200
        .amount__float 23
        .amount__currency
    td
      .amount
        .amount__integer 180
        .amount__float 23
        .amount__currency
    td.table__control
      .table__call-context.js-call-context
        .three-dot-button
      .context-menu
        .context-menu__item(data-event='popup', data-popup='payment-details') Детализация
        .context-menu__item Показать историю
        .context-menu__item Больше данных
  tr
    td.table__checkbox: +checkbox
    td.table__date 31.07.18#[br]12:56:11
    td: .crop 64527356452735645273564527352735
    td mapping-custom.org
    td
      .account
        .account__icon
          img(src="./img/mts-icon.svg")
        .account__number 79169876080
    td: .status.status_wait Ожидание
    td
      .amount
        .amount__integer 180
        .amount__float 00
        .amount__currency
    td
    td.table__control
      .table__call-context.js-call-context
        .three-dot-button
  tr
    td.table__checkbox: +checkbox
    td.table__date 12.07.18#[br]21:14:54
    td: .crop 9283748928374892837483748
    td playo.ru
    td
      .account
        .account__icon
          img(src="./img/type-icon/beeline.svg")
        .account__number 79169876080
    td: .status.status_danger Ошибка
    td
      .amount
        .amount__integer 20 000
        .amount__float 00
        .amount__currency
    td
      .amount
        .amount__integer 180
        .amount__float 00
        .amount__currency
    td.table__control
      .table__call-context.js-call-context
        .three-dot-button
  tr
    td.table__checkbox: +checkbox
    td.table__date 11.07.18 #[br]10:12:23
    td: .crop 26390472639047263904726390479047
    td lion-ticket.ru
    td
      .account
        .account__icon
          img(src="./img/type-icon/mastercard.svg")
        .account__number 36klM563Wky720PRq178
    td: .status.status_success Успешно
    td
      .amount
        .amount__integer 200
        .amount__float 00
        .amount__currency
    td
      .amount
        .amount__integer 180
        .amount__float 00
        .amount__currency
    td.table__control
      .table__call-context.js-call-context
        .three-dot-button
  tr
    td.table__checkbox: +checkbox
    td.table__date 08.07.18 #[br]15:23:33
    td: .crop 17482641748264174826417482648264
    td marble.com
    td
      .account
        .account__icon
          img(src="./img/type-icon/visa.svg")
        .account__number 36klM563Wky720PRq178
    td: .status.status_success Успешно
    td
      .amount
        .amount__integer 43 200
        .amount__float 00
        .amount__currency
    td
      .amount
        .amount__integer 180
        .amount__float 00
        .amount__currency
    td.table__control
      .table__call-context.js-call-context
        .three-dot-button
  tr
    td.table__checkbox: +checkbox
    td.table__date 04.07.18 #[br]14:00:59
    td: .crop 76301727630172763017276301720172
    td mapping-custom.org
    td
      .account
        .account__icon
          img(src="./img/type-icon/mastercard.svg")
        .account__number 1093847586092354
    td: .status.status_success Успешно
    td
      .amount
        .amount__integer 12 000
        .amount__float 00
        .amount__currency
    td
      .amount
        .amount__integer 61 800
        .amount__float 00
        .amount__currency
    td.table__control
      .table__call-context.js-call-context
        .three-dot-button
  tr
    td.table__checkbox: +checkbox
    td.table__date 02.07.18#[br]09:51:01
    td: .crop 65386906538690653869065386908690
    td service-lego.ru
    td
      .account
        .account__icon
          img(src="./img/type-icon/mastercard.svg")
        .account__number 36klM563Wky720PRq178
    td: .status.status_success Успешно
    td
      .amount
        .amount__integer 7 000
        .amount__float 00
        .amount__currency
    td
      .amount
        .amount__integer 180
        .amount__float 00
        .amount__currency
    td.table__control
      .table__call-context.js-call-context
        .three-dot-button
  tr
    td.table__checkbox: +checkbox
    td.table__date 01.07.18 #[br]02:03:15
    td: .crop 23745092374509237450923745094509
    td koleso-fifth.ru
    td
      .account
        .account__icon
          img(src="./img/type-icon/mastercard.svg")
        .account__number 123456
    td: .status.status_success Успешно
    td
      .amount
        .amount__integer 15 500
        .amount__float 00
        .amount__currency
    td
      .amount
        .amount__integer 7 000
        .amount__float 00
        .amount__currency
    td.table__control
      .table__call-context.js-call-context
        .three-dot-button
  tr
    td.table__checkbox: +checkbox
    td.table__date 23.06.18 #[br]23:12:32
    td: .crop 01982640198264019826401982648264
    td trade-in.ru
    td
      .account
        .account__icon
          img(src="./img/type-icon/mastercard.svg")
        .account__number 8764643579347543
    td: .status.status_success Успешно
    td
      .amount
        .amount__integer 200
        .amount__float 00
        .amount__currency
    td
      .amount
        .amount__integer 18 000
        .amount__float 00
        .amount__currency
    td.table__control
      .table__call-context.js-call-context
        .three-dot-button
  tr
    td.table__checkbox: +checkbox
    td.table__date 02.07.18 #[br]09:51:46
    td: .crop 65386906538690653869065386908690
    td service-lego.ru
    td
      .account
        .account__icon
          img(src="./img/type-icon/mastercard.svg")
        .account__number 36klM563Wky720PRq178
    td: .status.status_success Успешно
    td
      .amount
        .amount__integer 200
        .amount__float 00
        .amount__currency
    td
      .amount
        .amount__integer 180
        .amount__float 00
        .amount__currency
    td.table__control
      .table__call-context.js-call-context
        .three-dot-button
  tr
    td.table__checkbox: +checkbox
    td.table__date 04.07.18 #[br]14:00:50
    td: .crop 76301727630172763017276301720172
    td mapping-custom.org
    td
      .account
        .account__icon
          img(src="./img/type-icon/mastercard.svg")
        .account__number 1093847586092354
    td: .status.status_success Успешно
    td
      .amount
        .amount__integer 200
        .amount__float 00
        .amount__currency
    td
      .amount
        .amount__integer 180
        .amount__float 00
        .amount__currency
    td.table__control
      .table__call-context.js-call-context
        .three-dot-button
  tr
    td.table__checkbox: +checkbox
    td.table__date 21.06.18#[br]18:16:30
    td: .crop 73926487392648739264873926482648
    td customshowdate.com
    td
      .account
        .account__icon
          img(src="./img/type-icon/mastercard.svg")
        .account__number 87675432234
    td: .status.status_success Успешно
    td
      .amount
        .amount__integer 200
        .amount__float 00
        .amount__currency
    td
      .amount
        .amount__integer 180
        .amount__float 00
        .amount__currency
    td.table__control
      .table__call-context.js-call-context
        .three-dot-button