@import '../variables';

.footer {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -80px;

	&_back {
		bottom: 0;
	}
	&._hidden {
		display: none;
	}
	&__text {
		// background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
		background: linear-gradient(-270deg, #00B3A4 0%, #00B33C 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: Helvetica;
		font-size: 32px;
		letter-spacing: 0;
		text-align: center;
		&:hover {
			background-image: linear-gradient(-270deg, #00CCBB 0%, #00CC44 100%);
		}
		&:active {
			background-image: linear-gradient(-270deg, #00998C 0%, #009933 100%);
		}
	}
	&__button {
		width: 100%;
		height: 80px;
		background: none;
		cursor: pointer;
		color: #b5b5b5;
		font-family: 'PT Root UI', Arial, sans-serif;
		font-size: 32px;
		font-weight: 500;
		line-height: 43px;
		text-align: center;
		border-radius: 0 0 30px 30px;
		._success & {
			background-image: linear-gradient(270deg, #00BFAF 0%, #007FBF 100%);
			color: #FFFFFF;
			&:hover {
				background-image: linear-gradient(270deg, #00D9C7 0%, #0090D9 100%);
			}
			&:active {
				background-image: linear-gradient(270deg, #00A698 0%, #006EA6 100%);
			}
		}
	}
	&__link {
		position: relative;
		text-align: center;
		margin: 22px 0 18px;
		display: inline-block;
		text-decoration: none;
	}
	&__info {
		position: absolute;
		left: 16px;
		line-height: 36px;
		align-self: center;
		color: #7b7b7b;
	}
	&__submit {
		display: flex;
	}
	& &__submit {
		margin-left: auto;
	}
	&__integer {
		margin-left: 4px;
	}
	&__lang {
		margin-right: 15px;
	}
	&__help {
		display: inline-flex;
		align-self: center;
	}
	&__float {
		align-self: flex-start;
		margin-top: -2px;
		margin-left: 4px;
		font-size: 10px;
	}
	&__currency {
		margin-left: 4px;
	}
}
