@import '../variables';

.header {
	padding: 42px 16px 36px;
	&__top {
		display: flex;
		justify-content: space-between;
		align-content: center;
	}
    &__text {
      color: #ffffff;
      font-family: 'PT Root UI', Arial, sans-serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 33px;
    }
	&__name {
        display: flex;
		justify-content: center;
		font-family: 'PT Root UI', Arial, sans-serif;
		font-weight: 500;
		font-size: 20px;
		color: #404040;
		letter-spacing: 0;
	}
	&__price {
        display: flex;
        justify-content: center;
		font-family: 'PT Root UI', Arial, sans-serif;
		font-size: 42px;
		font-weight: 500;
		color: @headerPriceColor;
		letter-spacing: 0;
	}
	&__icon {
      float: left;
      margin-right: 29px;
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__title {
		font-size: 22px;
		font-weight: 900;
		a {
			color: @base-text-color;
		}
	}
	&__caption {
		margin-top: 3px;
		font-size: 12px;
		color: #7b7b7b;
	}
	&__result-bill {
		font-size: 22px;
		font-weight: 900;
	}
	&._bill {
		padding-bottom: 0;
	}
    &._success {
		background: linear-gradient(270deg, #00B2A4, #00B23C);
		border-radius: 30px 30px 0 0;
		padding: 45px 32px 45px;
    }
    &._error {
		background: linear-gradient(270deg, #EF0E0E, #EF980E);
		border-radius: 30px 30px 0 0;
		padding: 45px 32px 45px;
    }
	&._with-bg {
		height: 139px;
		background: center no-repeat;
		.header__title a {
			color: #ffffff;
		}
		.header__caption {
			font-weight: 500;
			color: #ffffff;
		}
	}
}