mixin currency
  .currency
    .currency__caption Выберите валюту
    .currency__list
      a.currency__item._selected WMR
      a.currency__item WMZ
      a.currency__item WMV
      a.currency__item WME
      a.currency__item WMX