mixin error-message(text)
  .error-message
    .error-message__container
      .error-message__text=text

mixin error-message-v2(text)
  .error-message.error-message_active
    .error-message__container
      .error-message__text-v2=text
